@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
    font-family: Outfit;
    background-color: rgb(250, 248, 241);
}

.app-header {
    margin:0;
    background-color: rgb(52, 101, 109);
    padding: 10px;
    color: rgb(250, 248, 241);
    text-align: center;
}

.app-container{
    padding:0;
}

.navigation{
    background-color: rgb(52, 101, 109);
    margin-top: 10px;
    color: (250, 248, 241);
    text-align: center;
    margin-bottom: 10px;
}
.nav-link{
    background-color:rgb(250, 234, 177);
    padding: 2px 8px;
    border-radius: 5px;
    margin:1px;
}

.nav-link:hover{
    background-color: rgb(225, 232, 172);
}

a{
    text-decoration: none;
    color: black;
    
}

.nav-links{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.card{
    background-color: rgb(250, 234, 177);
    padding:10px;
    margin:5px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: justify;
}